.footer {
    
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #141414; /* Couleur de fond typique de Netflix */
    color: white;
    text-align: center;
    padding: 20px;
}


.footer .content {
    font-size: 14px;
}

.footer a {
    color: #e50914; 
    text-decoration: none;
    margin-left: 5px;
}

.footer a:hover {
    text-decoration: underline;
}
